<div class="container">
  <% if can? :read, Issue %>
    <% @issues= Issue.joins(:assignee) %>
    <% @issues= @issues.paginate(page: params[:page]) %>
    <%= render 'issues/index', locals: { issues: @issues } %>
  <% end %>
</div>