<%= form_with model: [project, projects_user], local: false do |form| %>
  <div class="modal-body">
    <div class="col-12">
      <%= form.select :user_id, @current_company.users.map{ |user| [user.email, user.id] }, {}, { required: true, multiple: 'multiple', class: "form-select form-select-md js-select-field-multiple" } %>
    </div>
  </div>
  <div class="modal-footer">
    <%= form.submit class: 'btn btn-primary fa fa-check' %>
    <button type="button" class="btn btn-secondary" id="formCloseBtn" data-bs-dismiss="modal"><%= t('shared.close') %></button>
  </div>
<% end %>