<div class="container mt-3">
  <% if can? :create, project => ProjectsUser %>
    <div class="d-flex justify-content-end">
      <%= link_to t('shared.create_new_resource', resource_label: t('users.label')), new_project_projects_user_path, remote: true, class: "btn btn-primary bi bi-plus" %>
    <% end %>
  </div>
</div>
<div class="container mt-3">
  <div class="text-center" id="users_datatable_space"></div>
</div>