<tr id="projects_user_<%= projects_user.id %>">
  <!-- TO DO !!! Replace Manager Email by Manager name when user is uptodate -->
  <td><%= projects_user.user.email %></td>
  <td><%= user_role(project, projects_user) %></td>
  <td>
    <% if can? :destroy, project => ProjectsUser %>
      <%= link_to '', [project, projects_user],
                method: :delete, remote: true,
                data: { confirm: t('shared.confirmation') }, class: "bi bi-trash" %>
    <% end %>
  </td>
</tr>