<div class="container mt-3">
  <h1><%= t('shared.create_new_resource', resource_label: t('users.label').pluralize()) %></h1>
  <hr/>
</div>
<div class="container">
  <%= render 'form', project: @project, projects_user: @projects_user, users: @users %>
</div>