<div id = "new_comment", class="container mt-3 mb-3">
  <%= form_with model: [commentable, Comment.new], local: false do |form| %>
    <div class="row mb-3 ">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12">
        <%= form.text_area :description, cols: 60, rows: 5, class: 'form-control form-control-md', required: true, placeholder: "Add a Comment" %>
      </div>
    </div>
    <%= form.submit class: 'btn btn-primary fa fa-check', remote: true %>
  <% end %>
</div>