<div class="card-header">
	<h3 class="text-center font-weight-light my-4"><%= t('shared.edit_resource', resource_label: t('issues.issue_label')) %></h3>
</div>
<p/>
<div class="container">
	<%= render 'form', issue: @issue, project: @issue.project, projects: @projects %>
</div>