<div class="card-header">
	<h3 class="text-center font-weight-light my-4"><%= t('shared.create_new_resource', resource_label: t('issues.issue_label')) %></h3>
</div>
<br/>

<%= render 'form', issue: @issue %>
