<%= render partial: 'shared/breadcrumb' %>
<div class="container mt-3">
  <h1><%= t('shared.edit') + ' ' + t('shared.member') %></h1>
  <hr/>
</div>
<div class="container">
<%= render partial: "form", locals: { user: @user } %>
</div>

