$('#modal .modal-header').html("<h1><%= t('shared.edit_resource', resource_label: t('sprints.label')) %></h1>");
$('#modal .js-modal').html("<%= escape_javascript render('form', project: @project, sprint: @sprint) %>");
$('#modal').modal('show');