<div class="container">
  <h1><%= t('shared.edit_resource', resource_label: t('sprints.label')) %></h1>
  <hr />
</div>
<div class="container">
  <%= render 'form_without_modal', project: @project, sprint: @sprint %>
</div>