<% if @project.nil? %>
  $('#modal').html("<%= escape_javascript render('form', sprint: @sprint, projects: @projects) %>");
<% else %>
  $('#modal').html("<%= escape_javascript render('form', project: @project, sprint: @sprint) %>");
<% end %>
$('#modal .modal-header').html("<h1><%= t('shared.create_new_resource', resource_label: t('sprints.label')) %></h1>");
$('#modal').modal('show');
