<div class="container">
  <h1><%= @sprint.name %></h1>
  <h3><%= t('sprints.report') %></h3>
  <hr />
</div>
<%= render 'report', sprints: @sprints, issues_resolved: @issues_resolved, issues_unresolved: @issues_unresolved %>