<div class="container mt-3">
  <div class="row bm-3 d-flex">
    <div class="col-8">
      <h1><%= @project.name %>'s Sprints</h1>
    </div>
    <div class="col-2 justify-content-end">
      <%= link_to ' '+t('shared.edit'), edit_project_sprint_path(@sprint), class: "btn btn-primary w-100 fa fa-pencil" %>
    </div>
    <% if can? :delete, Project %>
      <div class="col-2 justify-content-end">
        <%= link_to t('shared.delete'), project_sprint_path(@project),
                method: :delete,
                data: { confirm: t('shared.confirmation') }, class: "btn btn-danger w-100 fa fa-trash" %>
      </div>
    <% end %>
  </div>
  <hr/>
</div>