<% if @active_sprint.nil? %>
  $('#nav-active-sprint').html("<p class='d-flex justify-content-center my-3'><%= escape_javascript t('projects.active_sprint_absent') %> <%= escape_javascript(link_to t('projects.backlog'), backlog_project_path, data: { remote: true }, id: "backlog_redirect") %></p>");
  $('#backlog_redirect').on('click', function(event){
    event.preventDefault();
    $('#nav-backlog-tab').tab('show');
  });
<% else %>
  $('#nav-active-sprint').html("<%= escape_javascript render('active_sprint', sprint: @active_sprint, issues_to_do: @issues[:to_do], issues_in_progress: @issues[:in_progress], issues_resolved: @issues[:resolved], issues_closed: @issues[:closed] )%>")
<% end %>
