 
<%= image_tag("squidward.png", {:style => "display: block;
  margin-left: auto;
  margin-right: auto;"}) %>
<h1 style="text-align: center;"> 401 Access denied </h1>

<style >  
  .center {
    justify-content: center;
    border: 3px solid green;
  }
</style>
