 
<%= image_tag("BatmanSlap.jpg", {:style => "display: block;
  margin-left: auto;
  margin-right: auto;"}) %>
<h1 style="text-align: center;"> 500 Internal Server error </h1>

<style >  
  .center {
    justify-content: center;
    border: 3px solid green;
  }
</style>
