<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  .rails-default-error-page {
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }

  .rails-default-error-page h1 {
    text-align: center;
  }

  </style>
</head>

<body class="rails-default-error-page">
  <%= image_tag("broken-leg.png", {:style => "display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 400px;"}) %>
  <h1 style="text-align: center;"> 422 Unprocessable Entity</h1>
    
</body>
</html>


<style >  
  .center {
    justify-content: center;
    border: 3px solid green;
  }
</style>
