@import 'bootstrap/scss/bootstrap';
@import 'select2/dist/css/select2';

// $primary-color = 
$secondary-color: #999999;
$hover-color: #000033;

.pagination {
  background: white;
  cursor: default;
  float: right;

  a, span, em {
  padding: 0.2em 0.5em;
  display: block;
  float: right;
  margin-right: 1px;
  }

  .disabled {
  color: $secondary-color;
  border: 1px solid #dddddd;
  }

  .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
  }

  a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
  }

  a:hover, a:focus {
    color: $hover-color;
    border-color: $hover-color;
  }
}

.asterick .control-label:after{
  content:"*";
  color:red;
}