@import 'bootstrap/scss/bootstrap';
@import 'datatables.net-bs5/css/dataTables.bootstrap5.min.css';
@import 'select2/dist/css/select2';
@import 'flatpickr/dist/flatpickr.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'dashboard';
@import 'boxicons/css/boxicons.css';

$secondary-color: #999999;
$hover-color: #000033;
$a-border-color: #2e6ab1;
$disable-border-color: #dddddd;
$a-color: #105cb6;
$gray-color: #000000;

.progress {width: 66%;}
.select2-container--open {
  z-index: 9999999
}
.text-gray-400 {
  color: $black-color !important;
}
.btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.form{
  font-size: .8rem;
  border-radius: 10rem;
  padding: 1rem 1rem;
}
.bg-login-image {
  background: url("1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: .35rem;

}
.bg-register-image {
  background: url("2.png");
  background-position: center;
  background-size: initial;
  border-radius: .35rem
}
.bg-member-image {
  background: url("3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  }
.logo {
  height: 40px;
  width: 78px;
  display: block;
  }

.pagination {
  background: white;
  cursor: default;
  float: right;

  a, span, em {
  padding: 0.2em 0.5em;
  display: block;
  float: right;
  margin-right: 1px;
  }

  .disabled {
  color: $secondary-color;
  border: 1px solid $disable-border-color;
  }

  .current {
  font-style: normal;
  font-weight: bold;
  background: $a-border-color;
  color: white;
  border: 1px solid $a-border-color;
  }

  a {
  text-decoration: none;
  color: $a-color;
  border: 1px solid $a-border-color;

    &:hover, &:focus {
      color: $hover-color;
      border-color: $hover-color;
    }
  }
}

.asterick {
  .control-label:after{
    content: "*";
    color: red;
  }
}



