<%= render partial: 'shared/breadcrumb' %>
<div class="row mb-3">
  <div class="card col border-dark bg-light me-5">
    <div class="card-body">
      <h5 class="card-title">Sprint Report</h5>
      <p class="card-text">Agile projects are broken down into sprints or iterations — short, repeatable phases, typically one to four weeks long. The number and length of the sprints should be determined at the beginning of the project, and each sprint should result in a draft, prototype, or workable version of the final deliverable. Click here to view your sprint reports </p>
    </div>
    <div class="d-flex justify-content-center mb-2">
      <%= link_to 'View Sprint Report',sprint_reports_path, class: "btn btn-primary stretched-link " %>
    </div>
  </div>
  <div class="card col border-dark bg-light">
    <div class="card-body">
      <h5 class="card-title">Sprint Issues Report</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="d-flex justify-content-center mb-2">
      <%= link_to 'View Issues Report',issues_reports_path, class: "btn btn-primary stretched-link " %>
    </div>
  </div>

</div>
