<%= render partial: 'shared/breadcrumb' %>
<div class = "contianer">
  <%= render(:partial => 'reports/sprint_filter',  :locals=>{sprints: @sprints, form_action: :sprint} ) %>
  <div id="header"></div>
  <% if @sprint.present? %>
    <%= render partial: 'reports/sprint_report_header',  :locals=>{ sprint_id: @sprint.id, action: :get_sprint } %>
  <% end %>
  <%= render partial: "reports/sprint_report_table", locals: { sprint_report_attributes: @sprint_report_attributes } %>
</div>